.stylePaper {
  width: 350;
  height: 475;
  margin: 20;
  display: 'inline-block';
}

.styleFAB {
  marginRight: 20;
  position: 'absolute';
  bottom: 70;
  left: 100;
}

.toggleStylesBlock {
   maxWidth: 200;
};

.toggleStylesToggle {
  marginBottom: 16;
};